.header {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 10px;
  font-style: italic;
  span {

    position: relative;
    &:active {
      opacity: 0.7;
      top: 2px;
      left: 2px;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 36px;
    margin: 10px;
  }
}
